.tableContainer {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
  box-shadow: 0 6px 24px #f1f1f1;
  /* background-color: green; */
  overflow: auto;
}

.table {
  text-align: left;
  margin-top: 30px;
  background-color: white;
  width: 100%;
  padding: 20px;
  overflow: scroll;
}

.tableHead {
  background-color: #7bc89c;
  padding: 20px;
}

.tableHead th {
  color: #fff;
}

.profile {
  display: flex;
  align-items: center;
}

.btn {
  width: 80%;
  text-align: center;
}



.number {
  padding-left: 5px;
  font-size: 18px;
  font-weight: 500;
}

.imgContainer {
  width: 52px;
  height: 52px;
  overflow: hidden;
  border-radius: 50%;
}

.imgContainer img {
  width: 100%;
}

.textContainer {
  margin-left: 10px;
}

.para {
  font-weight: 500;
  margin-bottom: 2px;
}

.detail {
  color: gray;
}
