.tableContainer {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 24px #b9b7b7;
  margin-bottom: 50px;
  /* background-color: green; */
}

.table {
  text-align: left;
  margin-bottom: 0;
  background-color: white;
  width: 100%;
  padding: 20px;
  overflow: scroll;
}

.tableHead {
  background-color: #7bc89c;
  padding: 10px;
}

.tableHead th {
  color: #fff;
}

.imgContainer{
  margin-right: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.number {
  padding-left: 5px;
  font-size: 18px;
  font-weight: 500;
}

.imgContainer {
  width: 52px;
  height: 52px;
  overflow: hidden;
  border-radius: 50%;
}

.imgContainer img {
  width: 100%;
}

.para {
  font-weight: 600;
  margin-bottom: 2px;
}

.detail {
  color: gray;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.btns {
  width: 70px;
  display: flex;
  justify-content: space-between;
}
