.container {
  display: flex;
  margin-top: 20px;

  margin-bottom: 20px;
  width: 100%;
  align-items: flex-end;
}

.color {
  background-color: #7bc89c  !important;
  border: #7bc89c 1px solid !important;
  margin-left: 10px;
  color: white;
}

.border {
  border: #7bc89c 1px solid  !important;
  background-color: white  !important;
  margin-left: 10px;
  color: #7bc89c  !important;
}

.dropdown {
  background-color: #7bc89c !important;
  border: #7bc89c;
  color: #fff;
  border-radius: 4px;
  padding: 3px;
}

.label{
  color: #7bc89c;
  margin-right: 10px;
  font-size: 20px;
  height: 100%;
}