.link{
    text-decoration: none;
    margin-right: 13px;

}


.card {
  background-color: white;
  box-shadow: 0 6px 24px #f1f1f1;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  width: 282px;
  margin-bottom: 20px;
  transition: transform .4s;

}

.card:hover{
    transform: scale(1.02);
}
.cardIcon{
    line-height: 61px;
    color: #ffffff;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    border-radius: 100%;
    background: rgba(40,110,251,.1);
}

.cardIcon i{
    color: #286efb;
}

.cardText{
    margin-top: 7px;
    margin-left: 10px;
}

.cardTitle{
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #465161;
    margin-bottom: 7px;
    text-transform: capitalize;
}

.number{
    line-height: 22px;
    font-size: 16px;
    color: #465161;

}